@media (orientation: portrait) {
    .navbar {
        display: inline-flex;
        /* gap: 7rem; */
        align-items: center;
        justify-content: space-around;
    }

    .navbar .logo > h1 {
        display: block;
    }

    .navbar .menu-icon {
        display: block;
        border: 1px solid var(--text-color-light);
        padding: 10px;
        border-radius: 4px;
    }

    .navbar .menu-icon > i {
        font-size: 2.4rem !important;
        color: var(--text-color-light);
    }

    .navbar .menu-icon > i:hover {
        color: var(--primary-color);
    }

    .navbar > .auth-btn {
        display: block;
        padding: 30px 20px;
        background-color: var(--text-color-light);
        text-decoration: none;
    }
    .navbar .menu-icon-show {
        animation: menu-icon-rotate 1s linear 1;
    }

    /* Animation for rotating the menu icon */
    @keyframes menu-icon-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            background-color: #ffffff7c;
            transform: rotate(360deg);
        }
    }

    .navbar .menu-icon:hover {
        background: var(--text-color-light);
        color: var(--primary-color);
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }

    .navbar > ul {
        display: none;
    }

    .navbar > .auth {
        display: none;
    }

    .navbar > .nav-ul-show {
        display: block;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: var(--text-color-light);
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-bottom: 2px solid var(--text-color-light);
        transition: all 0.3s ease-in-out;
    }

    .navbar > .nav-ul-show > li {
        width: 100%;
        border-bottom: 1px solid var(--primary-color);
    }

    .navbar > .nav-ul-show > li:hover {
        background-color: var(--primary-color);
        transform: scale(1.1);
        color: var(--text-color-light);
        padding-left: 10px;
        padding-right: 10px;
        transition: all 0.3s ease-in-out;
    }

    .navbar > .nav-ul-show > li > a {
        font-size: 2rem;
        color: var(--text-color-dark);
        font-weight: 800;
        padding: 1rem 2rem;
        text-align: center;
    }

    .navbar > .nav-ul-show > .nav-link-hide-show {
        display: block;
    }
}

@media (max-width: 1160px) {
    .navbar {
        display: inline-flex;
        /* gap: 7rem; */
        align-items: center;
        justify-content: space-around;
    }

    .navbar .logo > h1 {
        display: block;
    }

    .navbar .menu-icon {
        display: block;
        border: 1px solid var(--text-color-light);
        padding: 10px;
        border-radius: 4px;
    }

    .navbar .menu-icon > i {
        font-size: 2.4rem !important;
        color: var(--text-color-light);
    }

    .navbar .menu-icon > i:hover {
        color: var(--primary-color);
    }

    .navbar > .auth-btn {
        display: block;
        padding: 30px 20px;
        background-color: var(--text-color-light);
        text-decoration: none;
    }
    .navbar .menu-icon-show {
        animation: menu-icon-rotate 1s linear 1;
    }

    /* Animation for rotating the menu icon */
    @keyframes menu-icon-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            background-color: #ffffff7c;
            transform: rotate(360deg);
        }
    }

    .navbar .menu-icon:hover {
        background: var(--text-color-light);
        color: var(--primary-color);
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }

    .navbar > ul {
        display: none;
    }

    .navbar > .auth {
        display: none;
    }

    .navbar > .nav-ul-show {
        display: block;
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: var(--text-color-light);
        padding: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        border-bottom: 2px solid var(--text-color-light);
        transition: all 0.3s ease-in-out;
    }

    .navbar > .nav-ul-show > li {
        width: 100%;
        border-bottom: 1px solid var(--primary-color);
    }

    .navbar > .nav-ul-show > li:hover {
        background-color: var(--primary-color);
        transform: scale(1.1);
        color: var(--text-color-light);
        padding-left: 10px;
        padding-right: 10px;
        transition: all 0.3s ease-in-out;
    }

    .navbar > .nav-ul-show > li > a {
        font-size: 2rem;
        color: var(--text-color-dark);
        font-weight: 800;
        padding: 1rem 2rem;
        text-align: center;
    }

    .navbar > .nav-ul-show > .nav-link-hide-show {
        display: block;
    }
}